{% extends 'base_front.html.twig' %}
{% block title %}Modification de profile de {% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                                <h4 class="page-title">Mon Compte</h4>
                            {# <h4 class="page-title">Boutiques</h4> #}
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item active">Mon compte</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
