{% extends 'base_admin.html.twig' %}
{% block title %}Modification de role{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Agent</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item">Agent</li>
                                <li class="breadcrumb-item active">Modification de role</li>
                            </ol>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>

        {% for label,messages in app.flashes %}
	{% for message in messages %}
        <div class="container">
            <div class="d-flex align-items-center justify-content-end">
                <div>
                    <div class="alert bg-{{ label }} text-white rounded-0">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}
    {% endfor %}

        <div class="row">
            <div class="col-sm-12">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="flex float-right">
                <Button class="btn btn-success">Modifier</Button>
                <a href="{{path('user')}}" class="btn btn-warning rounded-0">
                    Annuler
                </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{# {% block javascripts %} #}