<div class="d-flex justify-content-center research-datatable margin-left-right">
    <div class="w-50 input-research">
        <span><i class="fas fa-search"></i></span>
        <input type="text" placeholder="Rechercher" class="ml-2 research">
    </div>
</div>


{# 
<div class="input-rounded research-datatable">
        <i class="fas fa-search text-white"></i>
        <input type="search" placeholder="Rechercher">
    </div> #}