{% extends 'base_admin.html.twig' %}

{% block title %}partenaire{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                                <h4 class="page-title">Boutiques</h4>
                            <ol class="breadcrumb pt-3 d-flex align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">IPDemat</a>
                                </li>
                                <li class="breadcrumb-item active">Nos boutiques</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <a href="{{ path('bout_nouv') }}" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i>Ajouter</a>
                        {% include "partials/research.html.twig" %}
                    </div>

                </div>
                <table class="table table-striped" id="table">
                    <thead>
                        <tr>
                            <td class="text-white">Code</td>
                            <td class="text-white">Nom</td>
                            <td class="text-white">N° RCS</td>
                            <td class="text-white">Numéro Mobile</td>
                            <td class="text-white">Numéro Fixe</td>
                            <td class="text-white">Numéro Télécopie</td>
                            <td class="text-white">Numéro Adress</td>
                            <td class="text-white">Code Postal</td>
                            <td class="text-white">Ville</td>
                            <td class="text-white">Pays</td>
                            <td class="text-white"></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bout in bouts %}
                        <tr>
                            <td>{{ bout.code }}</td>
                            <td>{{ bout.nom }}</td>
                            <td>{{ bout.nRcs }}</td>
                            <td>{{ bout.numMobile }}</td>
                            <td>{{ bout.numFixe }}</td>
                            <td>{{ bout.numTelecopie }}</td>
                            <td>{{ bout.adresse }}</td>
                            <td>{{ bout.codePost }}</td>
                            <td>{{ bout.ville }}</td>
                            <td>{{ bout.pays }}</td>
                            <td>
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Action
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('bout_edit',{id:bout.id}) }}">Mettre à jour
                                        </a>
                                        <a class="dropdown-item" href="{{ path('bout_suppr',{id:bout.id}) }}" onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">Suppression</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}