{% extends 'base_front.html.twig' %}

{% block title %}Courses effectues des chaque agents{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Courses</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item">Encaissement</li>
                            <li class="breadcrumb-item active">Courses journalières</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    {% include "partials/research.html.twig" %}
                </div>
            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Nom d'Agent</td>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Date</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-white ">Nombre des courses</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}