{% extends 'base_front.html.twig' %}
{% block title %} Accueil{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <!-- Page-Title breadcrumb-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
                            <li class="breadcrumb-item active">Accueil</li>
                        </ol>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- end page title end breadcrumb -->

    {# banner #}
    <div class="banner d-flex justify-content-between align-items-start p-3">
        <div class="text-white">
            <div>
                <h2 class="text-white">Bienvenue sur
                    <span class="text-success">IPDemat</span>
                    <span class="text-danger"> - One</span>
                    {{ app.user ? app.user.prenom : "" }}</h2>
            </div>
        </div>
        <div class="input-rounded">
            <i class="fas fa-search text-white"></i>
            <input type="search" placeholder="Rechercher">
        </div>
    </div>
    {# End banner #}

    {# Card statistique #}
    <div class="card-statistic container">
        <div class="row">
            <div class="col-sm-3 mr-4">
                <div class="card m-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-success">Montant total</h5>
                        <p class="fas fa-euro-sign mt-3">
                            <strong class="text-danger">{{ montant }}</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mr-4">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Montants Reçus</h5>
                            <p class="fas fa-euro-sign mt-3">
                                <strong class="text-danger">{{ montRecu }}</strong>
                            </p><br>
                            <a href="{{ path('recharge') }}" class="btn btn-primary ml-2 mt-3">Recharger</a>
                        </div>
                    </div>
            </div>
            <div class="col-sm-3 mr-4">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Montants déposées</h5>
                            <p class="fas fa-euro-sign mt-3">
                                <strong class="text-danger">{{ montDepot }}</strong>    
                            </p><br>
                            <a href="{{ path('montant_depot') }}" class="btn btn-primary ml-2 mt-3">Déposer</a>
                        </div>
                    </div>
            </div>
            <div class="col-sm-3 ml-5">
                    <div class="card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Montants dépensés</h5>
                            <p class="fas fa-euro-sign mt-3">
                                <strong class="text-danger">{{ montDepens }}</strong>
                                </p><br>
                            <a href="{{ path('solde_depende') }}" class="btn btn-primary  mt-3">Nouvelle dépense</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}