{% extends 'base_auth.html.twig' %}
{% block title %}login{% endblock %}
{% block body %}
<form class="login100-form validate-form p-b-33 p-t-5" method="post">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('login/images/auth.png');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title pt-5">
                    Arrivée à votre compte IPDemat
                </span>
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="wrap-input100 validate-input" data-validate="email">
                    <input class="input100" type="text" value="{{ last_username }}" id="inputEmail" name="email"
                        utocomplete="email" required autofocus placeholder="Email">
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password">
                    <input class="input100" type="password" name="password" id="inputPassword" name="pass" placeholder="Mot de passe">
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>
                <div class="container-login100-form-btn mt-5">
                    <button type="submit" class="login100-form-btn">
                        Entrer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
{% endblock %}