{% extends 'base_front.html.twig' %}

{% block title %}dépenses{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="class col-sm-12">

            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                            <h4 class="page-title">Dépenses</h4>
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Mes dépenses</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <!-- <a href="#" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i>Nouvelle
                        dépense</a> -->
                    {% include "partials/research.html.twig" %}
                </div>

            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Date</td>
                        <td class="text-white">Motifs</td>
                        <td class="text-white">Montant</td>
                        <td class="text-white">Preuve</td>
                        <!-- <td class="text-white">Action</td> -->
                    </tr>
                </thead>
                <tbody>
                    {% for depense in depenses %}
                    <tr>
                        <td>{{ depense.date | date("d-m-Y") }}</td>
                        <td>{{ depense.motifs }}</td>
                        <td>{{ depense.monDep }}</td>
                        <td>{{ depense.preuve }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}