{% extends 'base_admin.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="row">
          <div class="col">
            <ol class="breadcrumb d-flex align-items-center">
              <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end page-title-box-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <!-- end page title end breadcrumb -->


  {# banner #}
  <div class="banner d-flex justify-content-between align-items-start p-3">
    <div class="text-white">Administration</div>
    <div class="d-flex align-items-center">
    </div>
    <div class="input-rounded">
      <i class="fas fa-search text-white"></i>
      <input type="search" placeholder="Rechercher">
    </div>
    <!-- {% include 'partials/research.html.twig' %} -->
  </div>
  {# End banner #}
  <div class="card-statistic">
      <div class="container">
          <h2>Marque total</h2>
          <div class="row">
                <h2 class="ml-3"><strong> jour</strong></h2>
            <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                <i class="fas fa-euro-sign text-white"></i>
                
                <span class="text-white mx-2">Reçu</span><br>
            </div>
            <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                      <i class="fas fa-euro-sign text-white"></i>
                      
                      <span class="text-white mx-2">Déposé</span><br>
                      <span class="text-danger">
                      </span>
                  </div>
            <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                <i class="fas fa-euro-sign text-white"></i>
                <span class="text-white mx-2">Reste</span><br>
            </div>
          </div>
          <div class="row">
                <h2 class="ml-2"><strong>Mois</strong></h2>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-euro-sign text-white"></i>
                    
                    <span class="text-white mx-2">Reçu</span><br>
                    <span class="text-danger">
                   {# {% set solde = 0 %}
                    {% for solde in soldes %}
                    {% set solde = solde + (solde.monRecu) %}
    
                    {% endfor %}
                {% if solde > 0 %}
                <div class="left">
                <tr>
                    <td>{{ solde }}</td>
                </tr>
                    
                {% endif %} #}
                    </span>
                </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                          <i class="fas fa-euro-sign text-white"></i>
                          
                          <span class="text-white mx-2">Déposé</span><br>
                          <span class="text-danger">
                          </span>
                      </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-euro-sign text-white"></i>
                    <span class="text-white mx-2">Reste</span><br>
                    <span class="text-danger">
                    </span>
                </div>
              </div>
      </div>
  </div>

  {% endblock %}